body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    
}
.add-to-cart {
    background-color: yellow;
    color: black;
    border: 2px solid black;}

.buy-now {
    background-color: orange;
    color: black;
    border: 2px solid black;
}
div {
    margin: 10px;
}